.cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: var(--light-color);
  width: min(55rem, 100%);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  font-size: 3rem !important;
  z-index: 100;
}

.cart > header {
  margin-bottom: 3rem;
}

.cart header {
  width: 100%;
  display: flex;
  padding: 0 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.cart-items {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.cart-items header {
  flex: 0 1 auto;
  padding: 0 2.5rem;
}

.cart-body {
  display: flex;
  flex: 1 1 1rem;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  padding: 1.5rem;
}

.cart footer {
  flex: 0 1 25rem;
  padding: 0 1.5rem;
}

.cart > .subtotal {
  justify-self: last baseline;
}

.instructions {
  display: block;
  padding: 1rem 0 !important;
  font-size: 2rem;
  font-weight: 500;
  border-top: 1px solid #cacaca;
}

.instructions span {
  width: 100%;
  font-weight: 600;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.instructions button {
  font-size: 2rem;
}

.instructions textarea {
  width: 100%;
  margin-top: 1.5rem;
}

.subtotal {
  display: block;
  padding: 1rem 0;
}

.subtotal > div > span {
  font-size: 5rem;
  display: flex;
  /* gap: 3rem; */
  justify-content: space-between;
}

.subtotal > div p {
  font-size: 2.5rem !important;
}

.subtotal div > p {
  color: #555;
  font-weight: 600;
  margin: 1rem 0;
}

.subtotal button {
  color: white;
  font-weight: 600;
  font-size: 1.7rem;
  background: #000;
}

.cart:has(.empty-cart) {
  padding: 3rem ;
  align-items: center;
}

.empty-cart p {
  font-size: 3rem;
}

.empty-cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.empty-cart div:has(button){
  width: 35rem;
}

.empty-cart button {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--light-color);
}
