.cart {
  height: inherit;
  background: var(--light-color);
  max-width: 40rem;
  margin-left: calc(100% - 40rem);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.cart >header{
  margin-bottom: 3rem;
}

.cart header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.cart-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body{
/* background: #000; */
display: flex;
flex-direction: column;
gap: 2rem;
}

.cart > footer {
  justify-self: last baseline;
}

.instructions {
  padding: 1rem 0;
  font-size: 1.8rem;
  font-weight: 500;
  border-bottom: 1px solid #cacaca;
  border-top: 1px solid #cacaca;
}

.instructions span{
  font-weight: 600;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.instructions button{
  font-size: 2rem;
}
.instructions textarea {
  width: 100%;
  margin-top: 3rem;
}


.subtotal {
  padding: 1rem 0;
}

.subtotal > span {
  display: flex;
  justify-content: space-between;
}

.subtotal > p {
  color: #555;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.subtotal button {
  color: white;
  font-weight: 600;
  font-size: 1.7rem;
  background: #000;
}

.cart:has(.empty-cart) {
  align-items: center;
}

.empty-cart p {
  font-size: 3rem;
}

.empty-cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.empty-cart button {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--light-color);
}
