.info {
  background-color: var(--secondary-color);
  padding: 1.3rem 0;
  font-size: 2rem;
  font-weight: 530;
  letter-spacing: 0.15rem;
}

.info > div {
  column-gap: 3rem;
  row-gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  animation: infiniteScroll 22s infinite linear;
}

.info:hover > div {
  animation: none;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(110%);
  }
}

.info > div > div {
  /* background: #000; */
  justify-content: center;
  display: flex;
  align-items: center;
  /* background: #000; */
  /* justify-content: space-evenly; */
  flex: 1 1 auto;
}

.info__contact {
  gap: 4rem;
  align-items: center;
  text-wrap: nowrap;
  /* justify-content: space-between; */
  /* max-width: 40%; */
}

.info__social-media {
  gap: 4rem;
  align-items: center;
  flex: 1 1 auto;
  /* justify-content: space-evenly; */
}

.info__account {
  font-size: 3.5rem;
  gap: 1rem;
}

.info a {
  color: inherit;
}

.info a:hover {
  color: var(--primary-color);
}

.info__account > span > a,
.info__account > span {
  font-size: 1.8rem;
  text-decoration: none;
}

.info span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 750px) {
  .info {
    display: none;
  }
}
