.banner__container {
  background: #f5f8fd url(../../assets/banner_bg.jpeg) no-repeat;
  background-size: cover;
  height: 45rem;
  padding: 0;
  padding-top: 0.5rem;
}

.banner__container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__container > div h2 {
  font-weight: 600;
  font-size: 6rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.banner__container h2::after{
  content: none !important;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* word-spacing: 2rem; */
  text-transform: capitalize;
  color: white;
  max-width: 40rem;
  min-width: 30rem;
  padding: 1.7rem 3.5rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 2rem;
  background-color: var(--secondary-color);
}

.breadcrumb span {
  display: flex;
  align-items: center;
  gap: .5rem;
}

