.product {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  height: 55rem;
  border: 0.5rem solid var(--primary-color);
  border-radius: 3rem;
  cursor: pointer;
}

.product:hover {
  border-color: var(--secondary-color);
}

.product-image {
  width: 100%;
  height: 70%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

.product-details {
  flex-grow: 1;
  font-size: 2.5rem;
  padding: 2rem;
  gap: 2rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: #0000000e;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.product-details button {
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 3.5rem;
  padding: 1rem;
}
