.carousel__container {
  position: relative;
  height: 80rem;
}

.carousel {
  color: white;
  margin-bottom: 3rem;
  position: relative;
  height: 100%;
}

.carousel div {
  height: inherit;
}

.hero_1 {
  background: url(../../../assets/hero-1.jpg) no-repeat;
}
.hero_2 {
  background: url(../../../assets/hero-2.jpg) no-repeat;
}
.hero_3 {
  background: url(../../../assets/hero-3.jpg) no-repeat;
}
.hero_4 {
  background: url(../../../assets/carousel-bg.jpeg) no-repeat;
}
.hero_4 > div {
  height: 100%;
  /* background: url(../../../assets/hero-5.webp) no-repeat top; */
  background-size: cover;
}
.hero_5 {
  background: url(../../../assets/hero-4.jpg) no-repeat;
}

.hero {
  background-size: cover;
  height: 100%;
  padding: clamp(2rem, 10vw, 10rem);
}

.carousel .hero > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel .hero > div > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 6rem;
  height: max-content;
  text-transform: capitalize;
}

.carousel .hero_1 > div > div:first-of-type {
  gap: 1rem;
}

.hero_1 p {
  font-weight: 600;
  font-size: 2.5rem !important;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
}

.carousel .hero h2 {
  font-size: clamp(5rem, 10vw, 10rem);
  line-height: 9rem;
  width: min(70rem, 100%);
}

.carousel .hero p {
  width: min(70rem, 100%);
  /* max-width: 40%; */
  font-weight: 500;
  font-size: clamp(1rem, 50vw, 4rem);
  letter-spacing: 0.1rem;
}

.carousel .hero h2 span {
  color: var(--primary-color);
  font-size: clamp(7rem, 10vw, 12rem);
  display: block;
}

.carousel-dots {
  display: flex !important;
  /* flex-direction: row; */
  gap: 0.7rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  justify-content: space-evenly;
  transform: translateX(-50%);
  list-style: none;
  /* color: white; */
  width: 10rem !important;
  height: 7rem;
  display: flex;
  align-items: top;
  z-index: 2;
}

.carousel-dots > li {
  height: 1.7rem;
  flex: 0 0 17%;
  border-radius: 50%;
}

.carousel-dots > li > button {
  background: white;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: -1000rem;
}

.carousel-dots > li:global(.slick-active) > button {
  background: var(--primary-color) !important;
  scale: 1.3 !important;
}

.carousel-dots > li:global(:not(.slick-active)) > button:hover {
  scale: 1.1;
  background: none;
  border: 0.5rem solid white;
  color: inherit;
}

.carousel-dots > li:global(:not(.slick-active)) > button:hover:before {
  content: "";
  position: absolute;
  display: flex;
  width: 40%;
  height: 40%;
  background: transparent;
  background-color: transparent;
  border-radius: inherit;
}


.carousel :global(.slick-prev),
.carousel :global(.slick-next) {
  z-index: 1;
  scale: 5 !important;
  top: 55%;
}

.carousel :global(.slick-prev) {
  left: 3% !important;
}

.carousel :global(.slick-next) {
  right: 3% !important;
}



.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.1%;
  color: white;
  font-size: 6rem;
}

.controls span {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.carousel__container:has(:global(.slick-prev:hover))
  .controls
  span:first-child {
  color: var(--primary-color);
  scale: 1.1;
}

.carousel__container:has(:global(.slick-next:hover)) .controls span:last-child {
  color: var(--primary-color);
  scale: 1.1;
}

@media screen and (max-width: 800px) {
  .controls {
    display: none;
  }
}


.welcome__container {
  padding: 10rem 2rem 5rem;
}

.welcome__container > div {
  display: flex;
  text-align: center;
  /* justify-content: space-between; */
  gap: 3rem;
  /* align-items: center; */
}

.welcome__container h2 {
  font-size: clamp(4rem, 5vw, 8rem);
  font-weight: 600;
  text-transform: capitalize;
}

.welcome__container h3 {
  color: var(--secondary-color);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.welcome__container > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.welcome__container > div > div > img {
  flex: 0 1 auto;
  /* max-width: 40rem; */
  border-radius: 4rem;
}

@media screen and (max-width: 1000px) {
  .welcome__container > div {
    flex-direction: column-reverse;
  }

  .welcome__container > div > div:last-of-type,
  .welcome__container .c-text {
    display: none;
  }

  .welcome__container {
    /* padding: 10rem; */
  }

  .welcome__container img {
    width: 100%;
  }
}

.c-text {
  position: relative;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
}

.c-text img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  padding: 3rem;
  width: inherit;
  height: inherit;
}

.c-text img:first-of-type {
  padding: 0;
  z-index: 2;
  animation: rotate 20s infinite;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.benefits__container {
  padding: 10rem 2rem;
}

.benefits__container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 635px) {
  .benefits__container > div {
    text-align: center;
  }
}

.benefits__container > div > * {
  flex: 1;
}

.benefits__container h2 {
  font-size: 6rem;
}

.benefits__container img {
  width: min(40rem, 100%);
}

.benefits__container ul {
  color: #555;
  font-size: 3.5rem;
  font-weight: 600;
  list-style-image: url("../../../assets/check.png");
  list-style-position: inside;
  margin-bottom: 3rem;
  min-width: min(56rem, 100%);
}

.reservations__container {
  background: url(../../../assets/private-dining.png) no-repeat bottom;
  background-size: cover;
  padding: 10rem 0;
}

.reservations__container > div {
  display: flex;
  gap: 5rem;
  background: url(../../../assets/patron.jpg);
  padding: clamp(5rem, 7vw, 9rem);
  border-radius: 2rem;
}

@media screen and (max-width: 1000px) {
  .reservations__container > div {
    flex-wrap: wrap;
  }
}

.reservations__container h2 {
  color: white;
  border-bottom: 0.5rem solid var(--primary-color);
  height: max-content;
  font-size: 6rem;
  text-transform: uppercase;
}

.reservations__container form {
  background: none;
  padding: 0;
  width: 100%;
}

.reservations__container input,
.reservations__container select,
.reservations__container label {
  border-radius: 1.5rem;
  font-weight: 600;
  color: #555;
  font-size: 1.9rem;
  border: none;
  outline: none;
  flex: 1 1 auto;
}

.reservations__container form div:has(input, select) {
  display: flex;
  gap: 2rem;
  width: 100%;
  /* flex-wrap: wrap; */
}

@media screen and (max-width: 668px) {
  .reservations__container form > div {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 370px) {
  .reservations__container form > div > div {
    flex-wrap: wrap;
  }
}

.reservations__container form div:has(button) {
  margin: 0 !important;
  align-self: flex-end;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}
