.categories__container {
  padding: 10rem 0;
}

* > h1 {
  text-align: center;
  font-size: 6.5rem;
  position: relative;
}

* > h1::after {
  content: "";
  width: 28%;
  height: 1rem;
  border-radius: 1rem;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
}

.all-categories {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  gap: 3rem;
  padding: 4rem 0;
}

.all-categories > a, .all-categories > div {
  min-height: 23rem;
  border: 0.5rem solid var(--primary-color);
  width: 40rem;
  padding: 2rem;
  border-radius: 2rem;
}

.all-categories > a:hover {
  border-color: var(--secondary-color);
}

.openings {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  grid-row: 1/2;
  grid-column: 2/3;
  position: relative;
  gap: 1rem;
}

.openings > p {
  color: var(--secondary-color);
  font-size: 2.7rem;
}

.contact {
  font-weight: 500;
  padding: 2rem;
  border-radius: 2.5rem;
  color: var(--light-color);
  background: var(--secondary-color);
}

.contact > p:first-of-type {
  text-decoration: underline 0.5rem var(--primary-color);
  font-weight: 600;
  font-size: 2.7rem;
}

.test {
  position: relative;
  transition: 500ms ease-in-out;
}

.test:has(video) .outer {
  width: 100%;
  border-radius: 0;
}

.test:has(video) > div > div {
  max-width: none;
  padding: 0 15rem;
}

.outer {
  position: absolute;
  height: 100%;
  background: url(../../../assets/patron.jpg);
  border-radius: 0 45rem 45rem 0;
  width: 77%;
  transition: width 500ms ease-in;
}

.how-we-work {
  color: white;
  padding: 12rem 0;
}

.how-we-work h1 {
  text-align: left;
}

.how-we-work h1::after {
  content: none;
}
.how-we-work > div {
  align-items: center;
  display: flex;
  gap: 8rem;
  transition: 500ms ease-out;
}

.how-we-work > div > div > div {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.how-we-work > div > div p {
  font-size: 1.55rem;
  line-height: 3rem;
  font-family: "Epilogue", sans-serif;
}

article > * + * {
  margin-top: 2rem;
}

.step {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  outline: 1px solid black;
  outline-offset: -1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.step img {
  margin: auto;
  width: 8rem;
}

article:nth-child(3) .step img {
  transform: rotateY(180deg);
}

.step::before {
  content: "1";
  position: absolute;
  width: 5%;
  height: 5%;
  justify-self: flex-start;
  background: #000;
  padding: 1.5rem;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  top: 10%;
}

article:nth-child(2) .step::before{
  content: "2";
}

article:nth-child(3) .step::before{
  content: "3";
}

.video {
  /* position: absolute; */
  display: flex;
  background: url("../../../assets/easy-orded.jpg") no-repeat;
  background-size: cover;
  min-width: 50rem;
  min-height: 50rem;
  border-radius: 50%;
  position: relative;
}

.video img{
  position: absolute;
  top: 20%;
  left: -35%;
  scale: 1.2;

}

.video::before{
  content: "Watch and Follow";
  position: absolute;
  top: 10%;
  left: -50%;
  font-weight: 500;
}

video {
  width: 50%;
  /* width: 75rem; */
  height: 50rem;
  background: #000;
  border-radius: 2rem;
  /* transform: translateX(10%); */
}

.video button {
  background: #f5f5f5;
  font-size: 2rem;
  padding: 2rem;
  height: 10rem;
  width: 10rem;
  border-radius: inherit;
  margin: auto;
  animation: glow 5s infinite;
}

@keyframes glow {
  70% {
    box-shadow: 0 0 0 2rem #ffd50456;
  }
}

.deal__container {
  padding: 10rem 0;
}

.deal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 5rem 0;
}


.deal > div {
  display: flex;
  flex-direction: column;
}

.time {
  gap: 0.5rem;
  font-size: 2.2rem;
  /* justify-content: space-between; */
}
.time > span {
  line-height: 2.7rem;
  border-radius: 4rem;
  padding: 3rem;
  text-align: center;
  font-weight: 700;
  background: var(--primary-color);
}

.percentage {
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 3.5rem;
  width: 20rem;
  text-align: center;
  font-weight: 600;
}

.details {
  justify-content: space-between;
  /* background: #000; */
  /* background: #000; */
  width: 80%;
  gap: 1.5rem;
}

.details h2 {
  font-weight: 550;
  font-size: 5rem;
}

.details > div > p {
  font-weight: 600;
  color: #555;
  font-size: 1.5rem;
  /* background: #000; */
}

.details > div:last-of-type {
  max-width: 35rem;
  margin-top: 1rem;
}

.details > div:last-of-type > div {
  left: 0;
}

.details > div:last-of-type button {
  font-weight: 500;
  font-size: 1.7rem;
  color: white;
  right: 15%;
}

.benefits {
  list-style-position: inside;
  display: grid;
  grid-template-columns: auto auto;
  list-style-image: url("../../../assets/check.png");
  font-weight: 600;
  color: #555;
  gap: 1rem;
}