.product-details {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #cacaca;
  font-size: 10rem;
}

.product-details img {
  width: 30%;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.details > span > span {
  display: flex;
  justify-content: space-between;
  color: black;
  gap: 2rem;
}

.details > span > span > p:first-of-type {
  font-weight: 600;
  font-size: 2.3rem;
}

.details > span > p {
  color: #555;
  font-weight: 600;
  font-size: 2rem;
}

.details .quantity {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2.5rem; */
  flex-wrap: wrap;
}

.details .quantity > div {
  width: 0;
  flex: 0 0 70%;
}

.details .quantity div > span{
  padding: 0;
  width: 100%;
  /* background: #000; */
}

.details .quantity > button {
  flex: 0 1 2rem;
  cursor: pointer;
  font-size: 2.5rem;
  color: white;
  background: var(--secondary-color);
  padding: 1rem 2rem;
  display: flex;
  border-radius: 1rem;
}

.total-price {
  width: fit-content;
  text-wrap: nowrap;
  font-size: 2.5rem;
  font-weight: 600;
}
